<p>There are 4 possible setups detailed in the minions_rails README. These 4 pages demostrate the different setups.</p>

<ul>
  <li>
    <%= link_to pages_css_development_path do %>CSS (Development)<% end %>
    [ Fixed breakpoints ]
  </li>

  <li>
    <%= link_to pages_css_production_path do %>CSS (Production)<% end %>
    [ Fixed breakpoints ]
  </li>

  <li>
    <%= link_to pages_scss_development_path do %>SCSS (Development)<% end %>
    [ Variable breakpoints ]
  </li>

  <li>
    <%= link_to pages_scss_production_path do %>SCSS (Production)<% end %>
    [ Variable breakpoints ]
  </li>
</ul>

<p>
  There are some mixins available to write app-classes with the same breakpoints as your custom minions classes.
</p>

<ul>
  <li>
    <%= link_to pages_at_mixin_path do %><code>at( &lt;breakpoint&gt; )</code><% end %>
  </li>

  <li>
    <%= link_to pages_before_mixin_path do %><code>before( &lt;breakpoint&gt; )</code><% end %>
  </li>
</ul>
